<p id="notice"><%= notice %></p>

<h1>All Weapons</h1>

<div class='jumbotron'>
  <% @weapons.each do |weapon| %>
  <br>
  <h2>
    <%= weapon.title %>
  </h2>
  <h5>
    <%= link_to 'Read More', weapon_path(weapon) %>
  </h5>
  <h5>
    <%= truncate(weapon.body, length: 200) %>
  </h5>
  <br>
  <% end %>
</div>
